:root {
  /* Blues */
  --theme-base: #1D69CC; /*45*/
  --theme-base-hover: #CCE1FF; /*90*/
  --theme-base-fade: #A3C8FF; /*80*/
  --theme-base-bold: #0D5CBD; /*40*/
  --theme-base-icon: #3E84E5; /*55*/

  /* Greens */
  --theme-alt: #52A62B; /*60*/
  --theme-alt-hover: #E0F5D5; /*95*/
  --theme-alt-fade: #B0E396; /*85*/
  --theme-alt-bold: #45991F; /*55*/

  /* Reds */
  --theme-danger: #CC2D37; /*45*/
  --theme-danger-hover: #FF878B; /*70*/
  --theme-danger-fade: #FFE8E9; /*95*/

 /* Greys */
  --theme-grey: #596069; /*40*/
  --theme-grey-icon: #7E868F; /*55*/
  --border: #889099; /*60*/
  --divider: #E1E4E8; /*90*/

/* Text */
  --heading-text: #373C42; /*25*/
  --primary-text: #23282E; /*15*/
  --secondary-text: #596069; /*40*/

/* Backgrounds */
  --background: #F7F7F7; /*98*/;
  --component-background: White;
  --component-background-alt: #FEFEFE; /*99.9*/
  --component-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08);


  --disabled: var(--theme-base-fade);
  --header: rgb(57, 57, 59);

  --accordion-level1: var(--theme-base);
  --accordion-level1-hover: var(--theme-base-fade);
  --accordion-level1-fade: var(--theme-base-hover);
  --accordion-level1-open-hover: var(--theme-base-bold);

  --accordion-level2: var(--theme-alt);
  --accordion-level2-hover: var(--theme-alt-fade);
  --accordion-level2-fade: var(--theme-alt-hover);
  --accordion-level2-open-hover: var(--theme-alt-bold);

  --button-primary-foreground: White;
  --button-primary-background: var(--theme-base);
  --button-primary-background-hover: var(--theme-base-bold);
  --button-primary-background-disabled: var(--theme-base-fade);

  --button-secondary-foreground: var(--theme-base);
  --button-secondary-background: White;
  --button-secondary-background-hover: var(--theme-base-hover);
  --button-secondary-foreground-disabled: var(--theme-base-fade);

  --button-tertiary-foreground: var(--theme-base);
  --button-tertiary-background-hover: var(--theme-base-hover);

  --button-alt-foreground: var(--theme-alt);
  --button-alt-background: White;
  --button-alt-background-hover: var(--theme-alt-hover);
  --button-alt-foreground-disabled: var(--theme-alt-fade);

  --button-danger-foreground: var(--theme-danger);
  --button-danger-background-hover: var(--theme-danger-hover);
  --button-danger-background-disabled: var(--theme-danger-fade);



/* Alternative Orange theme */
/*
  --primary: #FF7900;
  --secondary: #000000;
  --danger: #CD3C14;
  --background: #FFFFFF;
  --background-alt: #EEEEEE;
  --border: #CCCCCC;
  --disabled: #AAAAAA;
  --header: #333333;
  --sub-header: #444444;
*/
}

@font-face {
  font-family: CiscoSansLight;
  src: url(resources/CiscoSansTTLight.eot);
  src: url(resources/CiscoSansTTLight.eot?#iefix) format("embedded-opentype"),
       url(resources/CiscoSansTTLight.ttf) format("truetype")
}
@font-face {
  font-family:Inter;
  font-style:normal;
  font-weight:100;
  font-stretch:normal;
  src:url(resources/Inter-Thin.ttf) format("truetype");
}
@font-face {
  font-family:Inter;
  font-style:normal;
  font-weight:200;
  font-stretch:normal;
  src:url(resources/Inter-ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family:Inter;
  font-style:normal;
  font-weight:300;
  font-stretch:normal;
  src:url(resources/Inter-Light.ttf) format("truetype");
}
@font-face {
  font-family:Inter;
  font-style:normal;
  font-weight:400;
  src:url(resources/Inter-Regular.ttf) format("truetype");
}
@font-face {
  font-family:Inter;
  font-style:normal;
  font-weight:500;
  src:url(resources/Inter-Medium.ttf) format("truetype");
}
@font-face {
  font-family:Inter;
  font-style:normal;
  font-weight:600;
  src:url(resources/Inter-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family:Inter;
  font-style:normal;
  font-weight:700;
  src:url(resources/Inter-Bold.ttf) format("truetype");
}
@font-face {
  font-family:Inter;
  font-style:normal;
  font-weight:800;
  src:url(resources/Inter-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family:Inter;
  font-style:normal;
  font-weight:900;
  src:url(resources/Inter-Black.ttf) format("truetype");
}
body {
  background-color: var(--background);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0px;
  overflow: hidden;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
}

.tooltip {
  font-size: 0.875rem;
  text-align: left;
  line-height: 1;
}

table.tooltip > tbody > tr > td {
  padding-right: 1em;
}

.centre-pane {
  border-radius: 10px;
  box-shadow: var(--component-shadow);
  height: 100%;
  max-width: 1200px;
  overflow: hidden;
  position: sticky;
  transition: z-index 1ms 1000ms;
  top: 0px;
  width: 48%;
  z-index: 0;
}

.centre-pane--edit-mode {
  transition: z-index 1ms 0ms;
  z-index: 5;
}

