.tenant {
  position: relative;
}

.tenant + .tenant > .accordion--closed {
  margin-top: 1px;
}

.inline-round-btn--add, .inline-round-btn--confirm-active {
  background: var(--primary);
}

.inline-round-btn--add:hover, .inline-round-btn--confirm-active:hover {
  background: var(--secondary);
}

.inline-round-btn--confirm-inactive {
  background: var(--disabled);
  cursor: not-allowed;
}

.new-item__form > .inline-round-btn--delete {
  background: var(--disabled);
}

.inline-round-btn__wrapper {
  display: inline-block;
}

.inline-round-btn--delete:hover {
  background: var(--danger);
  color: White;
}

.inline-round-btn--go-to:hover,
.inline-round-btn--redeploy:hover {
  background: var(--background);
  color: var(--header);
}

.accordion--closed > .accordion__header > .inline-round-btn--go-to:hover,
.accordion--closed > .accordion__header > .inline-round-btn--redeploy:hover {
  background: var(--secondary);
  color: White;
}
