.nso-background {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}


.nso-body {
  height: 100%;
  position: relative;
  width: 100%;
}

.nso-body__content {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1rem 0rem;
  position: absolute;
  top: 0px;
  width: 100%;
}

.nso-body__overlay {
  background: #00000066;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  transition: opacity 1000ms ease-out, z-index 1ms 1000ms;
  z-index: 0;
}

.nso-body__overlay--visible {
  opacity: 1;
  z-index: 1;
  transition: opacity 1000ms ease-out, z-index 1ms 0ms;
}


.nso-header {
  align-items: center;
  background: linear-gradient(90deg, rgb(55, 60, 66) 0.29%, rgb(15, 17, 20) 100%, rgb(15, 18, 20) 100%);
  box-sizing: border-box;
  color: White;
  display: flex;
  height: 56px;
  left: 0px;
  padding: 10px 1rem;
  top: 0px;
  user-select: none;
  width: 100%;
  z-index: 10;
  -moz-user-select :none;
  -ms-user-select :none;
  -webkit-user-select: none;
}

.nso-header__link {
  align-items: center;
  border: 2px solid transparent;
  display: flex;
  margin-right: auto;
  text-decoration: none;
}

.nso-header__cisco-logo {
  padding-left: 6px;
  margin-right: 10px;
  width: 38px;
}

.nso-header__title {
  color: var(--background);
  font-size: 1.1875rem;
}

.nso-header__utilities {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin: 0 6px;
}

.nso-header__divider {
  background: #F7F7F7;
  width: 1px;
  height: 24px;
}

.nso-header__user-menu {
  display: inherit;
  margin-left: 10px;
}

.nso-header__user-menu > button {
  padding: 0 0.5rem;
}

.nso-drop-down {
  color: black;
  display: none;
  position: absolute;
}

.nso-drop-down--open {
  display: block;
  position: relative;
}

.nso-drop-down__overlay {
  background: transparent;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.nso-drop-down__menu {
  background: var(--background);
  border: 2px solid var(--border);
  border-radius: 6px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  overflow: auto;
  overscroll-behavior: none;
  padding: 0.25rem 0;
  position: absolute;
  right: 0px;
  top: 48px;
}

.nso-drop-down__menu-item {
  padding: 0.5rem 10px;
}

.nso-user-profile {
  align-items: center;
  color: var(--primary-text);
  display: flex;
  flex-direction: row;
  gap: 22px;
  padding: 0 22px;
  white-space: nowrap;
}

.nso-user-profile__content {
  padding: 0.25rem;
}

.nso-user-profile__heading {
  font-size: 0.75rem;
  line-height: 20px;
  padding: 0 0.25rem;
}

.nso-user-profile__text {
  font-size: 0.88rem;
  font-weight: 600;
  line-height: 1.428;
  padding: 0 0.25rem;
}



.nso-header__version {
  color: var(--disabled);
  font-size: 0.5625rem;
}


.nso-modal__content {
  background: White;
  border: 0.0625rem solid var(--border);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  color: var(--header);
  display: flex;
  flex-direction: column;
  min-height: 422px;
  min-width: 576px;
  max-width: calc(100% - 3rem);
  max-height: calc(100% - 3rem);
  outline: none;
}

.nso-modal__overlay {
  background: #00000066;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nso-modal__title {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.428;
  color: var(--heading-text);
  flex: 0 0 auto;
}

.nso-modal__body {
  font-size: 0.875rem;
  flex: 1 1 auto;
  color: var(--primary-text);
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.nso-modal__footer {
  padding: 1.5rem;
  flex: 0 0 auto;
  text-align: right;
  line-height: 1.5;
}


.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

