.config-viewer__loading-dots {
  display: inline-block;
  float: right;
}

.config-viewer__panel {
  position: relative;
}

.config-viewer__btn-row {
  background: var(--background-alt);
  display: flex;
  padding: 0.5rem 0.25rem;
}

.config-viewer__pre {
  background-color: White;
  margin: 0;
  overflow-x: scroll;
  user-select: text;
}

.config-viewer__code {
  display: block;
  padding: 0.5rem;
  transition: background 500ms;
  width: max-content;
}

.config-viewer__line {
  transition: background 500ms;
  width: 100%;
}

.config-viewer__line--highlight {
  background: PaleTurquoise;
}

.nso-btn.nso-btn--config-viewer {
  margin: 0rem 0.125rem;
  padding: 0rem 0.75rem;
}

.nso-btn.nso-btn--right-align {
  margin-left: auto;
}


.accordion--closed > .accordion__header > .config-viewer__loading-dots > .loading__dot {
  background-color: var(--sub-header);
}
