.sidebar {
  box-sizing: border-box;
  color: var(--header);
  flex-shrink: 0;
  padding: 0rem 1rem;
  max-width: 500px;
  position: sticky;
  transition: left 500ms ease-out, padding 500ms ease-out, width 500ms ease-out;
  white-space: nowrap;
  width: 26%;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.sidebar--hidden {
  height: 100%;
  overflow: hidden;
  padding: 0rem 0rem 0rem 1rem;
  width: 0px;
}

.sidebar--hidden > .sidebar__inner {
  overflow: hidden;
}

.sidebar__header {
  color: White;
  background-color: var(--header);
  display: flex;
  height: 2rem;
  padding: 0.5em 0.75rem 0.5em 1rem;
  position: sticky;
  top: -1rem;
  z-index: 1;
}

.sidebar__sub-header {
  color: White;
  background: var(--sub-header);
  display: flex;
  height: 2rem;
  padding: 0.5em 0.75rem 0.5em 1rem;
}

.sidebar__sub-header + .sidebar__sub-header {
  margin-top: 1px;
}

.sidebar__title-text {
  flex: 1 1 auto;
  line-height: 2rem;
  overflow: hidden;
}

.sidebar__body {
  position: relative;
}

@supports (-ms-ime-align:auto) {
  .nso-body__content {
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .nso-body__content > .topology {
    box-sizing: border-box;
    height: calc(100% - 70px - 2.5rem);
    left: 26%;
    position: fixed;
    padding: 1rem 0rem;
    max-width: none;
    transition: width 500ms ease-out;
    top: 70px;
  }

  .nso-body__content > .topology--expanded {
    width: 74%;
    padding-right: 1rem;
  }

  .sidebar {
    margin: 0rem;
    max-width: none;
    padding: 0rem 1rem;
    position: absolute;
    top: 4rem !important;
  }

  .sidebar:first-child {
    left: 0px;
  }

  .sidebar:last-child {
    left: 74%;
  }

  .sidebar:last-child.sidebar--hidden {
    height: calc(100% - 70px - 2.5rem);
    left: 100%;
    width: 26%;
  }

  .sidebar > .sidebar__inner > .sidebar__header {
    position: fixed;
    top: calc(70px + 1rem);
    width: calc(26% - 3.75rem);
  }
}


.accordion {
  font-size: 0.875rem;
  position: relative;
  transition: padding 400ms ease-out, margin 400ms ease-out;
}

.accordion__header {
  background: var(--background-alt);
  cursor: pointer;
  display: flex;
  transition: all 400ms ease-out;
}

.accordion--right > .accordion__header {
}

.accordion--open > .accordion__header {
  color: White;
  font-size: 1rem;
}

.accordion--level1.accordion--open {
  margin: 1rem 0px;
}

.accordion--level1.accordion--open > .accordion__header {
  background: var(--primary);
}

.accordion--level2.accordion--open > .accordion__header {
  background: var(--secondary);
}

.accordion--level1 > .accordion__header {
  padding: 0.75em 0.75rem 0.75em 1rem;
}

.accordion--level2 > .accordion__header {
  padding: 0.5em 0.75rem 0.5em 1rem;
}

.accordion--level1 > .accordion__header:hover {
  box-shadow: 5px 0 0 var(--header) inset;
}

.accordion--level2 > .accordion__header:hover{
  box-shadow: -5px 0 0 var(--sub-header) inset;
}

.accordion--closed > .accordion__header:hover {
  background: var(--border);
}

.accordion--closed-fade > .accordion__header {
  background: var(--border);
}

.accordion--closed-fade > .accordion__header:hover {
  background: var(--background-alt);
}

.accordion--closed + .accordion--closed {
  margin-top: 1px;
}

.accordion__panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 400ms ease-out;
}

.accordion--level1 > .accordion__panel {
  border-left:solid 5px var(--primary);
}

.accordion--level2 > .accordion__panel {
  border-right:solid 5px var(--secondary);
}

.accordion__empty {
  background: White;
  line-height: 2rem;
  padding: 0.5em 0.75rem 0.5em 1rem;
}

.accordion__empty + .accordion__empty {
  margin-top: 1px;
}

.accordion__overlay-wrapper {
  box-sizing: border-box;
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 30;
}

.accordion--level1.accordion--open > .accordion__overlay-wrapper {
  padding: 1rem 0;
}

.accordion__overlay {
  height: 100%;
  width: 100%;
}

.accordion__overlay--hovered {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 0 5px var(--secondary) inset;
}

.field-group {
  background-color: White;
  padding: 0.5em 1.25rem 1.5em 1.25rem;
}

.field-group__row {
  border-bottom: solid 1px var(--border);
  display: flex;
  height: 1.25em;
  line-height: 1.25em;
  padding-top: 0.5em;
}

.field-group__label {
  color: var(--disabled);
  flex: 1 1 auto;
  font-size: 0.75em;
  overflow: hidden;
}

.field-group__value {
  padding-left: 0.5em;
  user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
}

.new_item {
  border-radius: 1.25rem;
  display: inline-block;
  height: 2rem;
  overflow: hidden;
  position: absolute;
  transition: width 500ms ease-out, box-shadow 500ms ease-out;
  width: 0px;
  z-index: 10;
}

.new-item--open {
  box-shadow: 0 0 0 0.25rem white, 0 0 0.25rem 0.5rem var(--primary);
}

.new-item__form {
  align-items: center;
  background: White;
  border-radius: 1.25rem;
  border-bottom: 1px solid white;
  display: flex;
  overflow: visible;
}

.new-item__value {
  background: none;
  border: none;
  border-bottom: solid 1px var(--border);
  font-family: CiscoSansLight, Helvetica, sans-serif;
  font-size: 1em;
  margin-right: 1em;
  outline: none;
  width: 15em;
}

.new-item__label {
  color: var(--header);
  line-height: 1em;
  margin: 0 0.75em 0 1em;
  white-space: nowrap;
}

.inline-round-btn--new-item {
  color: White;
}

.sidebar .round-btn__svg-icon,
.inline-round-btn--new-item .round-btn__svg-icon {
  width: 1.25rem;
  height: 1.25rem;
}
